* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #A30000, #d12525, #F6D203);
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    width: 100%;
    background-color: #f5f5f5;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(179, 19, 19, 0.15);
}

.input-control {
    margin-bottom: 10px;
    width: 100%;
}

.input>input {
    width: 98%;
    padding: 5px;
    border: none;
    background-color: #fff;

}

input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}


.input-control>select {
    width: 100%;
}

.input {
    width: 100%;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
}